.transfer{
    padding: 2rem 2.0625rem;
}
.transfer-head{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    color: #000000;
}
.transfer-body{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.transfer-inner{
    width: 100%;
    border-radius: 15px;
    padding: 1rem;
    background: rgba(230, 230, 230, 0.88);
    border-radius: 2px;
}
.transfer-to-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #000000;
}
.transfer-to-inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
    padding-bottom: 52px;
    border-bottom: 0.2px solid #000000;
}
.to{
    width: 48%;
    padding: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    background: #FFFFFF;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.066);
    border-radius: 8px;
}
.to p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    color: #000000;
}
.to-inner{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.to-image{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E0E0E0;
    border-radius: 10px;

}
.to-image img{
    width: 30px;
}
.to-image svg{
    font-size: 1rem;
}
.to-select input{
    width: 30px;
}
.transfer-cred{
    padding: 1.4375rem 0rem;
    border-bottom: 0.2px solid #000000;
}
.transfer-send{
    display: flex;
    align-items: center;
}
.transfer-send p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.8);
}
.transfer-send select{
    margin-left: 10px;
    background-color: white;
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #2b2b2b6b;
}
.transfer-account{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.transfer-account-left{
    width: 60%;
    padding:1.3rem 1.5rem;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
}
.account-left-head{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.9);
}
.account-left-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.4);
}
.transfer-account-right{
    width: 35%;
}
.transfer-available{
    display: flex;
    align-items: center;
}
.available-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 0.7375rem;
    color: rgba(43, 43, 43, 0.4);
}
.sub-2{
    margin-left: 10px;
    background: rgba(179, 28, 47, 0.15);
    border-radius: 4.40917px;
}
.sub-2 p{
    padding: 0.3125rem 0.4375rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 0.475rem;
    color: rgba(43, 43, 43, 0.9);
}
.balance-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.9);
}
.form-1-outer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-1, .form-2{
    margin-top: 24px;
    width: 32%;
}
.form-2{
    margin-top: 24px;
    width: 48%;
}
.form-1-label{
    font-size: 0.8rem;
}
.save-ben{
    padding: 24px 0px;
    border-bottom: 0.2px solid #000000;
    display: flex;
    align-items: center;
    justify-content: end;
}
.save-ben p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}
.save-ben-switch{
    margin-left: 25px;
}
.form-button{
    margin-top: 32px;
}
.reset{
    padding:1rem 0rem;
    width: 100%;
    background: #F9F9F9;
    border-radius: 8px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 39px;
    color: #707070;
}
.transfer-button{
    margin-top: 31px;
    padding:1rem 0rem;
    width: 100%;
    background: #AC1337;
    border-radius: 8px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 39px;
    color: #FFFFFF;
}
@media (max-width: 1280px) {
    .account-left-head{
        font-size: 1.4rem;
    }
    .balance-2{
        font-size: 1.4rem;
    }
}
@media (max-width: 1210px) {
    .account-left-head{
        font-size: 1.8rem;
    }
    .available-2{
        font-size: 0.7rem;
    }
    .balance-2{
        font-size: 1.4rem;
    }
}